
/* #myWrap {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
} */


/* #myDiv {
  height: 300px;
  background-color: #FFFFFF;
} */

/* .scroll-area {
  background-color: lightblue;
  width: 90%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
} */