.contact {
    text-decoration: none;
    &:hover {
        text-decoration: underline 1px;
    }
}
.label {
    width: 60px;
    min-width: 60px;
}

table.table-transaction {
    .account-detail-journal-entries:hover {
        color:  #0d6efd;
        text-decoration: underline 1px;
    }
    .account-number {
        min-width: 75px;
    }

}

.createdBy {
    font-size: 12px;
}
.amount, .amount-value {
    font-size: 24px;
    font-weight: 600;
}

a {
    color: rgb(64, 64, 64);
    text-decoration: none;
    &.action {
        font-size: 12px !important;
        height: 20px !important;
        padding: 0 8px;
    }
}