html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
  .form-floating:focus-within {
    z-index: 2;
  }
  input{
    &.reg-name {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    &.reg-email, &.reg-password {
      margin-bottom: -1px;
      border-radius: 0;
      border-radius: 0;
    }
    &.reg-confirm-password {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

// .form-signin input#confirm-password {
//   margin-bottom: 10px;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }