.scroll-area {
    overflow-y:auto;
    overflow-x: hidden;
    height:100%;
}
.parent-scroll-area {
    width:100%;
    position:absolute;
    top: 45px;;
    bottom:0;
    left: auto;
}

.container-full-viewport-height {
    height: 100vh;
}