.create-update-payment-journal {
    .trans-number-setting {
        position: relative;
        margin-left: 5px;
        color: rgba(118, 118, 118, 0.961);
        &:hover {
            cursor: pointer;
            color: black !important;
        }
    }
    .trans-account {
        .column-account {
            min-width: 265px;
        }
        .column-debit {
            min-width: 125px;
        }
    }
}