a.action {
    font-size: 12px !important;
    height: 20px !important;
    padding: 0 8px;
}
tbody {
    font-size: 16px;
}

table .address {
    font-size: 13px;
}

.table-total {
    border-bottom: 1px solid grey !important;
    border-top: 1px solid grey;
}

.left-border {
    border-left: 2px solid rgba(225, 225, 225, 0.971) !important;
}
